Repository qitechgmbh/control, pull requests merged in 2025-09, with the labels that each got.

#659 575 automatically send stateevent when changed
  Cargo.toml
  control-core-derive/Cargo.toml
  control-core-derive/src/lib.rs
  control-core/Cargo.toml
  control-core/src/helpers/hasher_serializer.rs
  control-core/src/helpers/mod.rs
  control-core/src/socketio/event.rs
  electron/src/machines/extruder/extruder2/extruder2Namespace.ts
  server/Cargo.toml
  server/src/machines/extruder1/act.rs
  server/src/machines/extruder1/api.rs
  server/src/machines/extruder1/mod.rs
  server/src/machines/extruder1/new.rs
  server/src/machines/laser/act.rs
  server/src/machines/laser/api.rs
  server/src/machines/laser/mod.rs
  server/src/machines/laser/new.rs
  server/src/machines/mock/act.rs
  server/src/machines/mock/api.rs
  server/src/machines/mock/mod.rs
  server/src/machines/mock/new.rs
  server/src/machines/winder2/act.rs
  server/src/machines/winder2/api.rs
  server/src/machines/winder2/mod.rs
  server/src/machines/winder2/new.rs
Labels: c/control-core, control-core-derive

#727 722 remove estimated diameter value
  electron/src/machines/winder/winder2/Winder2ControlPage.tsx
  electron/src/machines/winder/winder2/Winder2Graphs.tsx
  electron/src/machines/winder/winder2/useWinder.ts
  electron/src/machines/winder/winder2/winder2Namespace.ts
  server/src/machines/winder2/adaptive_spool_speed_controller.rs
  server/src/machines/winder2/api.rs
  server/src/machines/winder2/mod.rs
  server/src/machines/winder2/spool_speed_controller.rs
Labels: m/winder2

#731 666 implement laserv2
  electron/src/machines/laser/DiameterVisualisation.tsx
  electron/src/machines/laser/laser1/Laser1ControlPage.tsx
  electron/src/machines/laser/laser1/Laser1Graph.tsx
  electron/src/machines/laser/laser1/laser1Namespace.ts
  electron/src/machines/laser/laser1/useLaser1.ts
  server/src/machines/laser/api.rs
  server/src/machines/laser/mod.rs
  server/src/serial/devices/laser/mod.rs
Labels: m/laser1
